# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/

# Bytecode
*.pyc 
vector_store/